<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/chattingList.css">
    <title>chattingList</title>
</head>

<body>

    <div class="menubar">
        <ul>
            <li ><a href="/free">free</a>
              <div class = menubar-picture src = "date.png"></div>
            </li>
            <li><a href="/academic">academic</a></li>
            <li><a href="/hobby">hobby</a></li>
            <li><a href="/date">date</a></li>
            <li><a href="/company">company</a></li>
            <li><a href="/personal relationship">personal relationship</a></li>
            <li><a href="/beauty&style">beauty&style</a></li>
        </ul>
        
        <ul>
            
        </ul>

</body>

<script src="/javascripts/chattingList.js"></script>

</html>