<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="dist/semantic.js"></script>

    <link rel="stylesheet" href="/stylesheets/chattingList.css">
    <title>chattingList</title>
</head>

<body>
    <div class="ui inverted segment" id = "top_menu">
        <div class="ui inverted secondary pointing menu">
            <a class="active item" a href = "/chattingList">
                Home
            </a>
            <a class="item" a href = "/writepost">
                Q&A
            </a>
            <a class="item" a href = "/about">
                About
            </a>
            <a class="right item">
                <button class="ui inverted red basic button">
                    Account
                </button>
            </a>
        </div>
    </div>

    <div class="ui labeled icon menu" id = "icon_menu" style="width: fit-content; margin-left: auto; margin-right: auto;">
        <a class="item" href="/free">
            <i class="gamepad icon" style="background-image: url(../images/free.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 24px;
            width: 24px;"></i>
            free
        </a>

        <a class="item" href="/academic">
            <i class="gamepad icon" style="background-image: url(../images/academic.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;"></i>
            academic
        </a>

        <a class="item" href="/hobby">
            <i class="gamepad icon" style="background-image: url(../images/hobby.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;"></i>
            hobby
        </a>

        <a class="item" href="/date">
            <i class="gamepad icon" style="background-image: url(../images/date.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;"></i>
            date
        </a>

        <a class="item" href="/company">
            <i class="gamepad icon" style="background-image: url(../images/company.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;"></i>
            company
        </a>
        <a class="item" href="relationship">
            <i class="gamepad icon" style="background-image: url(../images/relationship.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;"></i>
            relationship
        </a>
        <a class="item" href="/beauty">
            <i class="gamepad icon" style="background-image: url(../images/beauty.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 24px;
                width: 24px;"></i>
            beauty&style
        </a>
    </div>

     
    <div class="ui top attached menu" id = "sidebar">
        <div class="ui dropdown icon item" style="background-image: url(../images/menu.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 32px;
        width: 24px;
        margin: 3px 0px 3px 5px">
            <i class="wrench icon"></i>
            <div class="menu" style="margin: 3px 0px 0px -6px;">
                <div class="item">
                    <i class="dropdown icon"></i>
                    <span class="text">Home</span>
                    <div class="menu">
                        <div class="item">free</div>
                        <div class="item">academic</div>
                        <div class="item">hobby</div>
                        <div class="item">date</div>
                        <div class="item">company</div>
                        <div class="item">relationship</div>
                        <div class="item">beauty&style</div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="item">
                    Q&A
                </div>
                <div class="divider"></div>
                <div class="item">
                    About
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached segment" id = bottom_line>
    </div> 

    <div id = "btns">
        <button id = "btn1">바로 입장</button>
        <button id = "btn2">방 만들기</button>
    </div>

    <div>
        <div id="body">
            <div class="line1">
                <div class="box1">
                    <div style="margin: 51.5px auto 0 auto">
                        <div class="room-info">
                            <div class="category">[과제]</div>
                            <div class="title">hw1</div>
                        </div>
                        <div class="grade">★★☆☆☆</div>
                        <div class="mode">게시글/채팅</div>
                    </div>
                </div>
                <div class="box2">

                </div>
            </div>

            <div class="line2">
                <div class="box1">

                </div>

                <div class="box2">

                </div>
            </div>


            <div class="line3">
                <div class="box1">

                </div>

                <div class="box2">

                </div>
            </div>

            <div class=direction>
                <img src="/images/left.png" height="30px" weight="30px;" onclick="">
                <img src="/images/right.png" height="30px" weight="30px;" onclick="">
            </div>

        </div>

    </div>

    <script src="/javascripts/chattingList.js"></script>
</body>



</html>