<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Chatting</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="dist/semantic.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/chattingRoom.css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/socket.io/socket.io.js"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gothic+A1|Jua|Nanum+Gothic|Noto+Serif+KR|Sunflower:300&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="ui grey inverted massive menu">
        <a class="item" id="title_font">
            [일상] 지금 너무 배가 고파요.
            <a class="right item ignored">
                <button class="circular ui basic icon button" id="warning_button" data-content="신고하기"
                    data-position="bottom center" data-variation="huge">
                    <i class="big icon frown outline"></i>

                </button>
                <button class="ui right floated basic  button" id="exit_Button" data-content="채팅 그만하기"
                    data-position="bottom center" data-variation="huge">
                    <i class="icon user"></i>
                    EXIT
                </button>
            </a>
    </div>
    <!-- exit modal-->

    <div class="ui basic modal" id="exit_Modal">

        <div class="ui icon header" id="star_img">
            <i class="star icon"></i>
            Star Rating
        </div>
        <div class="exit-content">
            <div class="ui massive star rating" id="star_rating" data-rating="3"></div>
            <p> 채팅방을 나가기 전에 상대방의 별점을 평가해주세요.</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button" id="exit_no_btn" style="font-size:12px;">
                <i class="remove icon"></i>
                더 있을게요.
            </div>
            <div class="ui green ok inverted button" id="exit_yes_btn"  style="font-size:12px;" onclick="self.close()"> 
                <i class="checkmark icon"></i>
               
                나갈게요.
            </div>
        </div>

    </div>

    <!-- 신고하기 모달 -->
    <div class="ui tiny modal" id="frown_modal">
        <i class="close icon"></i>
        <div class="header">
            신고하기
        </div>
        <div class="image content">
            <div class="description">
                <div class="ui header" style="font-size:14px;" >상대방과의 채팅중에 정신적 피해 혹은 음란,불법 게시물을 발견하셨나요?</div>
                <div class="ui form">
                    <div class="field" id="warn_field">
                        <label >신고 내용을 작성해 주세요. 신속한 조치를 진행하겠습니다:)</label>
                        <textarea></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" id="frown_no_btn">
                No
            </div>
            <div class="ui positive right labeled icon button" id="frown_yes_btn">
                Yes
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>



    <!-- <div style="border:1px solid; margin:10px; bottom-margin:10px; border-color: gray; border-radius: 8px;"> -->
     <a class="chat-room" onfocus=blur()
        href="javascript:void(window.open('http://52.79.233.145:3000/chattingRoom','win0', 'left='+(screen.availWidth-521)/2+',top='+(screen.availHeight-768)/2+', width=521px,height=768px'))">채팅룸</a>




    <div class="chat-box">

        <div class="chat-message">

        </div>
        <div class="chat-footer">

            <table>
                <tr>
                    <td width="100%">
                        <input id="message-input" class="form-control" type="text">
                    </td>
                    <td width="20%">
                        <button id="message-button" class="btn btn-default" type="submit">SEND</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
    <!-- </div> -->


    <script src='/javascripts/chattingRoom.js'></script>



</body>

</html>