<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Comptible' content='IE=edge'>
    <title>Page Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="dist/semantic.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/mainMenu.css'>
    
</head>

<body>
    <!-- <div id="top_Menu">
        <ul>
            <li><a class="menu-Link" href="#">Home</a></li>
            <li><a class="menu-Link" href="#">Q&A</a></li>
            <li><a class="menu-Link" href="#">About</a></li>
        </ul>
    </div> -->
    <div class="ui inverted segment">
            <div class="ui inverted secondary pointing menu">
              <a class="active item">
                Home
              </a>
              <a class="item">
                Messages
              </a>
              <a class="item">
                Friends
              </a>
            </div>
          </div>


</body>

<script src='/javascripts/mainMenu.js'></script>

</html>