<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Comptible' content='IE=edge'>
  <title>Page Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="dist/semantic.css">
  <script src="dist/semantic.js"></script>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/stylesheets/mainMenu.css'>

</head>

<body>
  <div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
      <a class="active item">
        Home
      </a>
      <a class="item">
        Q&A
      </a>
      <a class="item">
        About
      </a>
      <a class="right item">
          <button class="ui inverted black basic button">
        Account
          </button>
      </a>
</body>

<script src='/javascripts/mainMenu.js'></script>

</html>