<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/dist/semantic.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/ratings.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/commons.css" />
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Nanum+Gothic|Nanum+Myeongjo&display=swap" rel="stylesheet">
        <script src="/dist/semantic.js"></script>
        <script src="/javascripts/ratings.js"></script>
        <script src="/javascripts/commons.js"></script>
        <script src="/javascripts/starating.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    </head>
<body>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a href="/chattingList" class="item">
                Home
            </a>
            <a href="/qna" class="item">
                Q&A
            </a>
            <a class="item">
                About
            </a>
            <a class="right item ignored">
                <button id="account_Btn" class="ui inverted black basic button">
                    Account
                </button>
            </a>
        </div>
    </div>
    <script>accountModalFunction('<%=userEmail%>');</script>
    <h3>
        마이페이지
    </h3>
    <div class="ui container grid" id="main_container">
        <div class="ui secondary vertical pointing menu left_menu" style="padding: 0">
            <a class="item" id="item_personal" href="/mypage/information">개인 정보 수정</a>
            <a class="item" id="item_chat_record" href="/mypage/chatlist">채팅방 기록</a>
            <a class="active item" id="item_rate" href="/mypage/ratings">내 평점 확인</a>
        </div>
        <div class="cont_wrapper">
            <div id="cont1">
                <div style="padding: 10px">나의 평점은</div>
                <div class="star-ratings"></div>
            </div>
            <div id="cont2">
                <canvas id="myChart" width="350" height="200"></canvas>
            </div>
        </div>
    </div>
</body>
<script>
        $('.star-ratings').initstars({
            backgroundColor: '#ccc',
            color: '#ffd900',
            glowColor: '#ffd900',
            size: 32,
            spacing: 8,
            value: 50,
        });
        $('.star-ratings').setvalue(70); // setvalue 안의 값 바꿔주면 됨
    </script>
</html>