<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Comptible' content='IE=edge'>
    <title>Page Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="dist/semantic.js"></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/stylesheets/roomModal.css'>

</head>

<body>
    <!-- Trigger/Open The Modal -->

    <button id="room_btn" class="ui basic button">
        <i class="icon comments"></i>
        Making Room
    </button>

    <!-- The Modal -->
    <div id="room_modal" class="r-modal">

        <!-- Modal content -->
        <div class="modal-content">

            <span class="room-close">&times;</span>

            <p>Making room </p>

            <!-- 채팅 방식 선택하는 아이콘 -->
            <div class="room-icon">
                
                <button class="button selector selected" onclick="roomMode(0)">
                    <div class="room-images">
                        <img class="room-image" src="images/conversation-1.png" >
                        <p class="room-choice" >1대1 채팅</p>
                    </div>
                </button>

                <button class="button selector" onclick="roomMode(1)">
                    <div class="room-images">
                        <img class="room-image" src='images/conversation.png'>
                        <p class="room-choice">게시판 글</p>
                    </div>
                </button>
            </div>

            <!-- 채팅방 제목 입력 박스-->
            <div class="ui form">
                <div class="field">
                    <label>Title</label>
                    <input type="text" placeholder="Title">
                </div>
            </div>

            <!-- 채팅방 카테고리 선택 박스-->
            <div class="field">
                <label>Category</label>
                <select class="ui fluid dropdown">
                    <option value="">Category</option>

                    <option value="VA">세인</option>
                    <option value="WA">지호</option>
                    <option value="WV">선혜</option>
                    <option value="WI">성희</option>
                </select>
            </div>

            <!-- 확인 또는 취소 버튼 -->
            <div class="sub-or-can">
                <button class="ui secondary submit button">
                    Submit
                </button>

                <button class="ui grey button">
                    Cancel
                </button>
            </div>

        </div>
    </div>

</body>

<script src='/javascripts/roomModal.js'></script>

</html>