<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/Usignup.css">
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script src="dist/semantic.js"></script>

    <title>Sign up</title>
</head>

<body>
    <div class="body">
        <!-- body-main/footer -->
        <div class="main1">
            <!-- main-left/right -->
            <form class="content" action="/Usignup" method="POST" id="user">
                <div class="top">
                    <div id="titleWrap">
                        <div id="title">
                            <bold>User signup</bold>
                        </div>
                    </div>
                    <div id="partitionWrap">
                        <div class="partition"></div>
                        <div id="partitionWord">Input</div>
                        <div class="partition"></div>
                    </div>
                    <div id="inputUserInfo">
                        <div class="ui input Info" data-tooltip="아이디는 4-12자리 영문, 숫자, 특수문자 '_'로 입력하세요." data-position="bottom left">
                            <input class="" id="Uid" name="Uid" placeholder="ID" onblur="checkId()">
                        </div>
                        <div class="ui input Info">
                            <input class="" id="Uname" name="Uname" placeholder="Nickname" onblur="checkName()">
                        </div>
                        <!-- <input class="Info" id="Unum" name="Unum" placeholder="phone-number" onblur="checkPhoneNumber()"> -->
                        <div class="ui input Info" data-tooltip="입력 예시) random_chat@email.com" data-position="bottom left">
                            <input class="" id="Uemail" name="Uemail" placeholder="Email Address" onblur="checkEmail()">
                        </div>
                        <div class="ui input Info" data-tooltip="비밀번호는 6자리 이상 12자리 이하 영문 또는 숫자로 입력하세요." data-position="bottom left">
                            <input class="" id="Upw" name="Upw" type="password" placeholder="Password" onblur="checkPw()">
                        </div>
                        <div class="ui input Info" id="pwcheck">
                            <input class="" id="UpwCheck" name="UpwCheck" type="password" placeholder="Password Check" onblur="checkSamePw()">
                        </div>
                    </div>
                    <div class="joinBtnWrap">
                        <button id="UjoinBtn" class="joinBtn" type="button"
                            onclick="userjoin()"><strong>Join</strong></button>
                    </div>
                    <div id="notice">
                        When you <strong>join</strong>, you <strong>agree</strong> to the terms and conditions, data
                        policies, and cookie policies.
                    </div>
                </div><!-- 윗부분 -->

                <div class="middleWrap">
                    <p class="middle">If you have an account  <a href = "/Ulogin">login</a></p>
                </div><!-- 중간부분 -->

                <div class="bottomWrap"></div><!-- 밑부분 -->

            </form><!-- 오른쪽부분 -->
            

        <script src="/javascripts/Usignup.js"></script>
</body>

</html>