<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/writepost.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/commons.css" />
    <script src="dist/semantic.js"></script>
    <script src="javascripts/writepost.js"></script>
    <script src="javascripts/commons.js"></script>

</head>
<body>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a href="/chattingList" class="item">
                Home
            </a>
            <a href="/qna" class="active item">
                Q&A
            </a>
            <a class="item">
                About
            </a>
            <a class="right item ignored">
                <button id="account_Btn" class="ui inverted black basic button">
                    Account
                </button>
            </a>
        </div>
    </div>
    <script>accountModalFunction('<%=userEmail%>');</script>
    <div style="margin-left: auto; margin-right: auto; margin-top: 20px; width: 60%">
        <form id="qna_form1" action="/new_qna1" method="post" class="ui form" name="form1">
            <div class="field">
                <label>글 카테고리</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="qnaCategory" id="qna_category">
                    <i class="dropdown icon"></i>
                    <div class="default text">분류</div>
                    <div class="menu">
                        <div class="item" data-value="이의 제기">이의 제기</div>
                        <div class="item" data-value="궁금해요">궁금해요</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>글 제목</label>
                <input type="text" name="qnaTitle" placeholder="제목을 입력하세요" id="qna_title">
            </div>
            <div class="field">
                <label>내용</label>
                <textarea name="qnaContent" cols="30" rows="10" id="qna_content"></textarea>
            </div>
            <div style="display: none">
                <input class="ui button" type="submit" value="등록하기">
            </div>
        </form>
        <form id="qna_form2" action="/new_qna2" method="post" enctype="multipart/form-data" class="ui form">
            <div>
                <table class="ui definition table">
                    <tbody style="font-size: 12px">
                    <tr>
                        <td class="two wide column">첨부파일</td>
                        <td style="padding: 5px"><input id="select_file" type="file" value="파일 첨부" name="img" class="ui button" multiple></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui checkbox" id="secret_checkbox">
                <input type="checkbox" name="qnaSecret" value="checked" form="qna_form1">
                <label for="">비공개</label>
            </div>
            <div style="display: flex;">
                <input id="form_submit" class="ui button" type="button" value="등록하기" style="margin: 0">
            </div>
        </form>
    </div>
</body>
<script>
    $('.ui.dropdown').dropdown();
    $('#form_submit').click(function () {
        //e.preventDefault();
        var fileform = document.getElementById('qna_form2');
        var formdata = new FormData(fileform);
        var qnaTitle = document.getElementById('qna_title').value;
        var qnaCat = document.getElementById('qna_category').value;
        var qnaCont = document.getElementById('qna_content').value;
       
        if (qnaCat == '')
            alert('카테고리를 선택하세요');
        else if (qnaTitle == '')
            alert('제목을 입력하세요');
        else if (qnaCont == '')
            alert('내용을 입력하세요');
        else if ($("#select_file")[0].files.length > 5){
            alert("파일은 최대 5개까지 첨부할 수 있습니다.");
        }
        else {
            $.ajax({
                cache: false,
                processData: false,
                contentType: false,
                type: "POST",
                url: "/new_qna2",
                data: formdata
            }).done(function (data) {
                console.log(data);
                if (data == true)
                    $('#qna_form1').submit();
                else
                    console.log("Error");
            });
        }
    });
</script>
</html>