<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/writepost.css" />
    <script src="dist/semantic.js"></script>
    <script src="javascripts/writepost.js"></script>
</head>
<body>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a class="item">
                Home
            </a>
            <a class="active item">
                Q&A
            </a>
            <a class="item">
                About
            </a>
            <a class="right item">
                <button class="ui inverted black basic button">
                    Account
                </button>
            </a>
        </div>
    </div>
    <div style="margin-left: auto; margin-right: auto; margin-top: 20px; width: 60%">
        <!-- <div class="ui form"> -->
        <form action="/new_qna" method="post" class="ui form" enctype="multipart/form-data">
            <div class="field">
                <label>글 카테고리</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="qnaCategory">
                    <i class="dropdown icon"></i>
                    <div class="default text">분류</div>
                    <div class="menu">
                        <div class="item" data-value="1">이의 제기</div>
                        <div class="item" data-value="0">궁금해요</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>글 제목</label>
                <input type="text" name="qnaTitle">
            </div>
            <div class="field">
                <label>내용</label>
                <textarea name="qnaContent" id="" cols="30" rows="10"></textarea>
            </div>
            <div>
                <!-- <button class="ui button fluid" type="button" onclick="$('#select_file').trigger('click');">
                    <i class="icon file alternate"></i>
                    파일 첨부
                </button>
                <input id="select_file" type="file" value="파일 첨부" name="qnaFile" style="display: none"> -->
                <input id="select_file" type="file" value="파일 첨부" name="qnaFile" class="ui button">
            </div>
            <div>
                <!-- <button class="ui button">등록하기</button> -->
                <input class="ui button" type="submit" value="등록하기">
            </div>
        </form>
        <!-- </div> -->
    </div>
</body>
<script>
    $('.ui.dropdown').dropdown();
</script>
</html>