<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/writepost.css" />
    <script src="dist/semantic.js"></script>
    <script src="javascripts/writepost.js"></script>
</head>
<body>
    <div class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a href="/chattingList" class="item">
                Home
            </a>
            <a href="/qna" class="active item">
                Q&A
            </a>
            <a class="item">
                About
            </a>
            <a class="right item">
                <button class="ui inverted black basic button">
                    Account
                </button>
            </a>
        </div>
    </div>
    <div style="margin-left: auto; margin-right: auto; margin-top: 20px; width: 60%">
        <!-- <div class="ui form"> -->
        <form id="qna_form1" action="/new_qna1" method="post" class="ui form">
            <div class="field">
                <label>글 카테고리</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="qnaCategory">
                    <i class="dropdown icon"></i>
                    <div class="default text">분류</div>
                    <div class="menu">
                        <div class="item" data-value="이의 제기">이의 제기</div>
                        <div class="item" data-value="궁금해요">궁금해요</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>글 제목</label>
                <input type="text" name="qnaTitle" placeholder="제목을 입력하세요">
            </div>
            <div class="field">
                <label>내용</label>
                <textarea name="qnaContent" id="" cols="30" rows="10"></textarea>
            </div>
            <div style="display: none">
                <input class="ui button" type="submit" value="등록하기">
            </div>
        </form>
        <form id="qna_form2" action="/new_qna2" method="post" enctype="multipart/form-data" class="ui form">
            <div>
                <!-- <button class="ui button fluid" type="button" onclick="$('#select_file').trigger('click');">
                    <i class="icon file alternate"></i>
                    파일 첨부
                </button>
                <input id="select_file" type="file" value="파일 첨부" name="qnaFile" style="display: none"> -->
                <table class="ui definition table">
                    <tbody style="font-size: 12px">
                    <tr>
                        <td class="two wide column">첨부파일</td>
                        <td style="padding: 5px"><input id="select_file" type="file" value="파일 첨부" name="img" class="ui button" multiple></td>
                    </tr>
                    <!-- <tr>
                        <td class="two wide column">첨부파일1</td>
                        <td style="padding: 5px"><input id="select_file1" type="file" value="파일 첨부" name="qnaFile1" class="ui button"></td>
                    </tr>
                    <tr>
                        <td>첨부파일2</td>
                        <td style="padding: 5px"><input id="select_file2" type="file" value="파일 첨부" name="qnaFile2" class="ui button"></td>
                    </tr>
                    <tr>
                        <td>첨부파일3</td>
                        <td style="padding: 5px"><input id="select_file3" type="file" value="파일 첨부" name="qnaFile3" class="ui button"></td>
                    </tr>
                    <tr>
                        <td>첨부파일4</td>
                        <td style="padding: 5px"><input id="select_file4" type="file" value="파일 첨부" name="qnaFile4" class="ui button"></td>
                    </tr>
                    <tr>
                        <td>첨부파일5</td>
                        <td style="padding: 5px"><input id="select_file5" type="file" value="파일 첨부" name="qnaFile5" class="ui button"></td>
                    </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="ui checkbox" id="secret_checkbox">
                <input type="checkbox" name="qnaSecret" value="checked">
                <label for="">비공개</label>
            </div>
            <div style="display: flex;">
                <input id="form_submit" class="ui button" type="button" value="등록하기" style="margin: 0">
            </div>
        </form>
    </div>
</body>
<script>
    $('.ui.dropdown').dropdown();
    $('#form_submit').click(function () {
        //e.preventDefault();
        var fileform = document.getElementById('qna_form2');
        var formdata = new FormData(fileform);

        $.ajax({
            cache: false,
            processData: false,
            contentType: false,
            type: "POST",
            url: "/new_qna2",
            data: formdata
        }).done(function (data) {
            console.log(data);
            if (data == true)
                $('#qna_form1').submit();
            else
                console.log("Error");
        });
    });
</script>
</html>