#body {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

html,body{
    height: 100%;
    margin: 0px 0px;
}

.direction{
    display: flex;
    justify-content: center;
}

i.icon::before { /* semantic 이미지 삭제 */
    content: "" !important;
}

.room-info{
    display: flex; 
    margin-bottom: 20px;

}

.grade{
    margin-bottom: 20px;
}

#btns{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.btn1{
    width: 150px;
    height: 50px;
    background-color: black;
    outline: none;
    color: white;
    font-weight: bolder;
    margin-right: 30px;
}

.btn2{
    width: 150px;
    height: 50px;
    background-color: black;
    outline: none;
    color: white;
    font-weight: bolder;
}

#bottom_line{
    padding: 0px;
}

/* The Modal (background) */
.r-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */    
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
                         
}
/* The Close Button */
.room-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.room-close:hover,
.room-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.room-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.room-images{
  display: flex; 
   flex-direction: column;
}


.room-choice{
    padding-left: 6%;
    padding-top:5%;
}
.modal-content{
    max-width: 620px;
    min-width: 350px;
}


.room-image{
    height: 128px;
}

.sub-or-can{
    padding-top: 5%;
    padding-left: 30%;

}
.field{
    padding-top: 2%; 
}

/* 채팅 방식 아이콘 기본*/
.button.selector {
    margin: 4px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid transparent;
    outline: none;
    transition: all .3s;
    padding: 4%;
}

/* 채팅 방식 아이콘 호버 */
.button.selector:hover {
    border: 2px solid grey;
    transition: all .3s; 
}

/* 채팅 방식 아이콘 선택 */
.button.selector.selected {
    border: 2px solid black;
    color: #545454 !important;
}