.ui.header{
  margin: 10px;
}
#qna_table{
   table-layout: fixed;
}
.pagination{
  display: flex;
  justify-content: center;
  margin: 8px;
}
.page-num{
  padding: 2px;
  margin: 3px;
  cursor: pointer;
  color: black;
}
#new_post_button{
    margin: 5px;
}
#table1{
  display: flex; 
  flex-direction: column; 
  padding: 20px; 
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#table_box{
  padding: 20px;
  font-family: 'Nanum Gothic', sans-serif;
}
@media(max-width: 460px){
  #table1, #table_box{
    padding: 0;
  }
}