body{
    font-family: 'Nanum-Gothic', sans-serif;
}
#main_container{
    max-width: 800px !important;
    border: 1px solid grey;
    border-radius: 5px;
    height: 500px;
    margin: 60px;
    display: flex;
    flex-direction: column;
}
.left_menu{
    margin: 15px;
    font-weight: bold;
    height: 100%;
}
.cont_wrapper{
    width: -webkit-calc(800px - 15rem);
    padding: 0;
}
#cont1{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: 25px;
}