.ui.header{
    margin: 10px;
}

#post{
  font-family: 'Nanum Gothic', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  border: 1.5px solid black;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
#post:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid black;
  border-top: 10px solid black;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 200px;
}

#post:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid #fff;
  border-top: 8px solid #fff;
  border-bottom: 8px solid transparent;
  left: -15.5px;
  top: 201px;
}
#post_cat, #post_id, #post_title, #post_cont, #post_date{
  margin: 18px;
}
#post_id{
  font-size: 12px;
  float: right;
}
#post_title{
  font-size: 20px;
}
#post_date{
  font-size: 12px;
}

